*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
  --box-shado0:5px 5px 10px 10px rgba(101,175,10,0.5);
   /* back-co:rgb(40,47,94); */
}
body{
  background: rgb(11, 26, 51);
  color: white;
}
#mynav{
   position: sticky;
   width: 100%;
}
a{
  text-decoration: none;
  color: white;
}
.nav_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.nav_bar .nav_items{
padding: 17px;
 font-size: 1.2rem;
 font-weight: bold;
}
.nav_bar .nav_items:hover{
       border-bottom: 2px solid yellow;
  }


  /* [home section] */
/* #my{
  filter: drop-shadow(0,0,2px #000);
} */
 
 .home{
   height: 80vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
 
 }
 .home .left{
  background-color: black;
  width: 620px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border:1px solid yellow;
  box-shadow: var(--box-shadoo);
   background-color: rgb(40,47,97);
 }
 .home .right .image{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
 }
 .sha{
  filter: contrast(120%) brightness(110%);
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 5px solid yellow;
  animation-name: ani;
  animation-duration: 3s;
  animation-iteration-count: infinite;
 }

 @keyframes ani{
   0%{
    border-color: blue;
    box-shadow: 10px 10px 100px 50px blue;
    transform: translate(0,0px)
    
   
   }
   25%{
    border-color:rgb(239,244,11);
    box-shadow: 10px 10px 100px 50px rgb(239,244,11);
    transform: translate(0,0px)
   }
   50%{
    border-color:rgb(12,12,199);
    box-shadow: 10px 10px 100px 50px rgb(12,12,199);
    transform: translate(0,10px)
   }
   75%{
    border-color:rgb(130,217,160);
    box-shadow: 10px 10px 100px 50px rgb(130,217,160);
    transform: translate(0,10px)
   }
   100%{
    border-color:rgb(50,50,205);
    box-shadow: 10px 10px 100px 50px rgb(50,50,205);
    transform: translate(0,-0px)
   }
 }


       /* ///////====== [Experience Section] === /// */
       .ex{
        width: 900px;

       }
   .ex-items{
    display: flex;
    align-items: center;
  justify-content: space-between;
   background-color: rgb(40,47,97);
   margin: 25px;
   width: 770px;
   padding: 30px;
   border-radius: 10px;
   border: 1px solid yellow;
   box-shadow:  var(--box-shado0);
  
   }



               /* ///////====== [skills Section] === /// */

.skills{
   width: 900px;
   margin-top: 120px;
}
.skills .items{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 /* width: 700px; */
 
 margin: auto;


}
.skills .items .item{
   width: calc(33.33%);
   background-color: black;
   text-align: center;
   border-radius: 15px;
   border: 1px solid yellow;
   padding: 20px;

   margin: 20px; 
   box-shadow: var(--box-shado0);
}
.skills .items .item img{
     width: 70px;

}


                          /* ///////====== [project Section] === /// */
.flexx{
  display: flex;
  align-items: center;
  justify-content: center;
}




.contact{
   height: 30vh;
   margin-top: 60px;
}
         /* [contact section] */
         .contact-icon{
           display: flex;
           align-items: center;
           justify-content: center;
           transition: background-color 0.3s;
             
         }
         .contact-icon .items{
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          background-color: black;
          border: 1px solid blue;
          
           
             margin: 12px;
             height: 70px;
             width: 70px;
         }
         .items{
             font-size: 2rem;
         }
         .items:hover{
          cursor: pointer;
          border: 2px solid blueviolet;
          box-shadow: 0 0 5px blueviolet, 0 0 25px blueviolet;
         }







          /* hhhhhh */
      